<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class="jumbotron">
    <input type="text" value="Nom ..." [(ngModel)]="newItemValue">
    <button type="button" (click)="addItem()">Ajouter</button>
  </div>
  <div class="jumbotron" *ngFor='let item of todolist'>
    <input type="checkbox" value="{{ item.state }}"> {{ item.name }}
    <button type="button" (click)="removeItem(item)">X</button>
    <button type="button" (click)="updateItem(item)">M</button>
  </div>

</div>

<router-outlet></router-outlet>